@model CRMCore.Objects.ObjChangePassword
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "ChangePassword";
    int id = Convert.ToInt32(@HttpContextAccessor.HttpContext.Request.Cookies.First(x => x.Key == "Id").Value);
    string Name = @HttpContextAccessor.HttpContext.Request.Cookies.First(x => x.Key == "Name").Value;
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Смеена пароля сотрудника</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/Home">Главная</a>
            </li>
            <il>
                <a href="/Users">Сотрудники</a>
            </il>
            <li>
                <a href="/Users/Details/@id">@Name</a>
            </li>
            <li>
                <a href="#">Смена пароля</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row animated fadeInDown">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Смена пароля</h5>
                <div class="ibox-tools">
                    <a class="btn-primary btn-xs">
                        Сохранить
                        <i class="fa fa-save"></i>
                    </a>
                    <a class="btn btn-primary btn-default btn-xs" href="@Url.Action("Details","Users",id)">
                        Отмена
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
               
            </div>
            <div class="ibox-content">
                <form method="post" class="form-horizontal" id="EntityForm">
                    <input hidden asp-for="Id" />
                    <div class="form-group">
                        <label class="col-md-4 control-label">Новый пароль</label>
                        <div class="col-md-8">
                            <input type="password" class="form-control" asp-for="NewPassword" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Подтверждение пароля</label>
                        <div class="col-md-8">
                            <input type="password" class="form-control" asp-for="NewPasswordConfirm" />
                            <span asp-validation-for="NewPasswordConfirm" class="text-danger"></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/SaveAndReturn.js"></script>
}
