@model CRMDeveloper.Models.RootModel
<div class="ibox float-e-margins">
    <div class="ibox-title" id="TaskTitle">
        <h5>Задачи</h5>
        <div class="ibox-tools">
            @if (Model.RootType != CRMCore.Enums.RootTypes.User)
            {
                <a class="btn btn-primary btn-xs">
                    <i class="fa fa-plus-square"> Добавить</i>
                </a>
            }
        </div>
    </div>
    <div class="ibox-content">
        <div class="project-div" data-sg-project="task-main" style="max-height: 200px; overflow-x: hidden">
            <input type="hidden" data-sg-project="task-rooId" value="@Model.RootId" />
            <input type="hidden" data-sg-project="task-RootType" value="@Model.RootType" />
            <div class="project-list feed-activity-list" data-sg-project="task-list">
                <div class="project-item" data-sg-project="task-item-first" hidden="hidden">
                    <input type="hidden" data-sg-project="task-Id" value="" />
                    <div class="row">
                        <div class="col-md-4">
                            <span class="label label-primary" data-sg-project="Status"> </span>
                            <strong data-sg-project="Title"></strong>
                        </div>
                        <div class="col-md-2">
                            <small data-sg-project="DeadLine"></small>
                            <div class="progress progress-mini" style="margin-bottom: 0">
                                <div style="width: 75%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="75" role="progressbar" class="progress-bar progress-bar-success" data-sg-project="CompleteProcent">
                                    <span class="sr-only">40% Complete (success)</span>
                                </div>
                            </div>
                            <small data-sg-project="CompleteProcentNumber">Завершено на : </small>
                        </div>
                        <div class="col-md-4">
                            <ul class="project-list-participants-none">
                                <li data-sg-project="project-part-li-first" style="display:none">
                                    <img alt="Фото" class="participants-img" data-container="body" data-toggle="popover" data-placement="bottom"
                                         data-content="" />
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-2 text-right">
                            <span data-sg-project="Cost"></span>
                            <span data-sg-project="Currency"></span>
                            (<strong data-sg-project="Residue"></strong>
                            <span data-sg-project="Currency"></span>)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <small data-sg-project="Description"></small>
                        </div>
                    </div>
                    <hr class="h6" />
                </div>
            </div>
        </div>
    </div>
</div>
@{ Html.RenderPartial("_TasksModal");}
